html {
    scroll-behavior: smooth;
}

body {
    font-family: 'roboto', sans-serif;
}
#header, .section_heading {
    font-family: 'exo 2', sans-serif;
}

body {
    font-family: roboto, sans-serif;
    background: linear-gradient(45deg,#efe5fd, #f2fde4, #fbe2f0);
    color: #000;
    font-weight: 200;
    margin: 0;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.header {
    background-color: rgba(1, 115, 138, 0.5);
    height: 75px;
    transition: all .25s;
    z-index: 100;
}

.header--scrolled {
    background-color: rgba(1, 115, 138, 1);
    height: 40px;
}

#header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    max-width: 80vw;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 70vw;
    margin: 0px auto;
    padding: 10px;
}

#company-section {
    flex-basis: 30%;
    display: flex;
    margin: 5px auto;
}

.logo-container {
    width: 60px;
    height: 60px;
    margin: auto 5px;
    transition: all .25s;
}
.logo-container--scrolled {
    width: 30px;
    height: 30px;
}

#header-img {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

#company-title {
    display: inline-block;
    margin: auto 5px;
    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
}

.hamburger-icon {
    display: none;
    flex-basis: 46px;
    align-self: flex-start;
}
.hamburger-icon_bar {
    margin: 5px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all .5s ease-out;
}
.top-bar {
    transform: rotate(0deg);
    transform-origin: 23% 268%;
}
.middle-bar {
    transform: rotate(0deg);
    transform-origin: 0% 0%;
}
.bottom-bar {
    transform: rotate(0deg);
    transform-origin: 25% -186%;
}

.nav-bar {
    display: none;
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    transition: all .25s;
}
.nav-link {
    padding: 0 15px;
    color: #fff;
    margin: auto;
    text-decoration: none;
    transition: all 0.25s;
}
.nav-link:focus {
    outline: 2px solid #15a3bf;
}
#account {
    padding-top: 0;
    position: relative;
}
#account-head {
    display: flex;
}
@media (max-width: 768px) {
    #account-head {
        padding-left: 9px;
    }
}
#account-head_nav-link {
    flex-basis: 100%;
    padding-left: 0;
    padding-right: 5px;
    border-top: none;
}
.account-head_arrow {
    height: 10px;
    width: 10px;
    display: flex;
    margin: auto 0;
    transition: all 0.4s;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.account-head_arrow--menu-is-open {
    transform: rotateX(180deg);
}
.account_sub-menu {
    display: none;
    font-size: 0.9rem;
}
.account_sub-menu--show {
    display: flex;
    flex-direction: column;
}
@media (min-width: 767px) {
    .account_sub-menu--show {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 245%;
        left: -20%;
        right: -20%;
        background-color: rgba(1, 115, 138, 0.5);
        box-shadow: 1px 1px 10px rgba(1, 115, 138, 0.5);
    }
    .account_sub-menu--scrolled {
        top: 155%;
        background-color: rgba(1, 115, 138, 1);
    }
}
.account_sub-menu_nav-link {
    padding: 10px;
    margin: 0;
    text-align: center;
    padding-left: 0;
}
@media (max-width: 768px) {
    .account_sub-menu_nav-link {
        padding-left: 0;
    }
}
#picture-id {
    margin: 0;
    padding: 0;
    border: none;
}
#banner {
    position: relative;
}
#banner-img {
    border-bottom: 10px solid rgb(1, 115, 138);
    margin: 0;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 60vh;
}
@media (min-width: 768px) {
    #banner-img {
        height: 100vh;
    }
}
.banner-text {
    color: #fff;
    position: absolute;
    top: 50%;
    width: 60%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    font-family: 'roboto', sans-serif;
    animation: fade-in-text 2s linear forwards;
    text-shadow: 2px 2px 5px #000;
}
@keyframes fade-in-text {
    0% {opacity: 0;}
    100% {opacity: 100;}
}
.banner-text--main {
    color: #fff;
    text-shadow: 2px 2px 10px rgba(27, 191, 224, 1);
    font-size: 1.5rem;
    margin: 7px 0;
    font-weight: 300;
}
.banner-text--sub {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(27, 191, 224, 1);
}
@media (min-width: 650px) {
    .banner-text--main {    
        font-size: 1.5rem;
        margin: 15px 0;
    }
    .banner-text--sub {
        font-size: 1.25rem;
    }
}
@media (min-width: 768px) {
    .banner-text--main {    
        font-size: 2.5rem;
        margin: 15px 0;
    }
    .banner-text--sub {
        font-size: 2rem;
    }
}
@media (min-width: 1000px) {
    .banner-text--main {    
        font-size: 4rem;
        margin: 25px 0;
    }
    .banner-text--sub {
        font-size: 3rem;
    }
}

/* Social icons start*/
.banner-social {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.social-icon {
    cursor: pointer;
    margin: 5px 23px;
    height: 40px;
    width: 40px;
}
@media (max-width: 768px) {
    .social-icon {
        margin: 0 18px;
        height: 30px;
        width: 30px;
    }
    .banner-social {
        bottom: 30px;
    }
}
@media (max-width: 650px) {
    .social-icon {
        margin: 0 11px;
        height: 23px;
        width: 23px;
    }
    .banner-social {
        bottom: 23px;
    }
}
@media (max-width: 400px) {
    .social-icon {
        margin: 0 8px;
        height: 20px;
        width: 20px;
    }
    .banner-social {
        bottom: 20px;
    }
}
@media (max-width: 320px) {
    .social-icon {
        margin: 0 8px;
        height: 10px;
        width: 10px;
    }
    .banner-social {
        bottom: 15px;
    }
}


/* Social icons end*/

.text {
    margin: 5px auto;
}
.text--narrow {
    /* To reduce the width of text column */
    width: 75%;
}
.text--center {
    text-align: center;
}
.text--large {
    /* meant for sub-heading */
    font-size: 1.2rem;
}

/* Section styling */
/* Common to all sections */
.section_heading {
    padding: 40px 0px 15px 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(1, 115, 138, 1);
}
.section_sub-heading {
    color: rgba(1, 115, 138, 1);
}
/* Section styling */

/* Treks styling section */

.treks {
    background: linear-gradient(23deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 33%, rgba(128, 203, 196, 0.45) 33%, rgba(128, 203, 196, 0.65) 44%, rgba(128, 222, 234, 0.45) 44%,rgba(128, 222, 234, 0.65) 55%, rgba(41, 182, 246, 0.45) 55%, rgba(41, 182, 246, 0.65) 66%, rgba(0,0,0,0) 66%);
}

#treks_content {
    // width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 30px auto 20px auto;
}

.trek {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(1, 115, 138, 0.5);
    background-color: rgba(1, 115, 138, 0.8);
    color: #fff;
    text-align: center;
}

.trek_text {
    margin: 10px auto;
}

.trek_book {
    background-color: #fff;
    border: none;
    height: 40px;
    width: 115px;
    margin: 10px auto;
    outline: none;
    font-family: 'roboto';
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
    color: rgba(1, 115, 138, 1);
    display: inline-block;
    width: 100%;
    line-height: 40px;
    margin: 0;
}

.button-effect {
    position: absolute;
    width: 108%;
    text-decoration: none;
    height: 40px;
    transform: rotate(-45deg);
    top: -2px;
    left: -105%;
    margin: 0;
    background: linear-gradient(rgb(255, 255, 255, 0.25), rgb(0, 0, 0, 0.25), rgb(255, 255, 255, 0.25));
}

.button-effect--active {
    animation: button-hover .75s forwards;
}

@keyframes button-hover {
    0% {left: -114%;}
    100% {left: 100%;}
}
/* testimonials section end */
/* features section start*/
.features {
    background: linear-gradient(-17deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 33%, rgba(128, 203, 196, 0.45) 33%, rgba(128, 203, 196, 0.65) 44%, rgba(128, 222, 234, 0.45) 44%,rgba(128, 222, 234, 0.65) 55%, rgba(41, 182, 246, 0.45) 55%, rgba(41, 182, 246, 0.65) 66%, rgba(0,0,0,0) 66%);
}

#features_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 120px;
    gap: 10px 10px;
    margin: 30px auto 20px auto;
}

/* duplicate? */
.feature {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(1, 115, 138, 0.1);
}
.feature_icon {
    flex-basis: 20%;
    align-self: center;
    position: relative;
    z-index: 2;
    height: 60px;
}
.feature_text {
    flex-basis: 80%;
    font-size: 0.9rem;
    margin: auto;
}

.img-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: all 0.25s;
    align-self: center;
}

.feature_icon_wheel--spin {
    transform: rotate(110deg);
}

.feature_icon_fork {
    transform-origin: 30% 100%;
}
.feature_icon_spoon {
    transform-origin: 68% 100%;
}

.feature_icon_fork--spin {
    transform: rotate(45deg);
}

.feature_icon_spoon--spin {
    transform: rotate(-45deg);
}

.feature_stay_human--enter-house {
    left: 14%;
    opacity: 0;
}

.feature_icon_guide-hand-l {
    transform-origin: 42% 27%;
}

.feature_icon_guide-hand-l--wave {    
    transform: rotate(41deg);
}

.feature_icon_guide-hand-r {
    transform-origin: 63% 28%;
}

.feature_icon_guide-hand-r--wave {    
    transform: rotate(-32deg);
}

/* features section end*/

/* FAQ Section starts */

// .faqs {
//     background: linear-gradient(-10.5deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 33%, rgba(128, 203, 196, 0.45) 33%, rgba(128, 203, 196, 0.65) 44%, rgba(128, 222, 234, 0.45) 44%,rgba(128, 222, 234, 0.65) 55%, rgba(41, 182, 246, 0.45) 55%, rgba(41, 182, 246, 0.65) 66%, rgba(0,0,0,0) 66%);
// }
.faqs_content {
    margin: 20px auto;
    width: 75%;
}
.faq {
    display: block;
    color: #fff;
    margin: 2px auto;
    border-bottom: 1px solid #fff;
}
.faq_question {
    padding: 15px 10px;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    font-size: 1.1rem;
    background-color: rgba(1, 115, 138, 1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.faq_question_text {
    margin: 0;
}
.faq_question_img {
    height: 17.6px;
    width: 17.6px;
    display: flex;
    margin: auto 0;
    transition: all 0.4s;
}
.faq_question_img--reveal-answer {
    transform: rotateX(180deg);
}
.faq_answer {
    margin: 0 auto;
    height: 0px;
    overflow: hidden;
    transition: all 0.4s;
    font-size: 1rem;
    background-color: rgba(1, 115, 138, 0.75);
    box-sizing: border-box;
}
.faq_answer--reveal-answer {
    padding: 15px 15px;
    height: max-content;
}

/* FAQ Section ends */

/* Testimonials Section starts */

.section_testimonials {
    background: linear-gradient(-17deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 33%, rgba(128, 203, 196, 0.3) 33%, rgba(128, 203, 196, 0.3) 44%, rgba(128, 222, 234, 0.3) 44%,rgba(128, 222, 234, 0.3) 55%, rgba(41, 182, 246, 0.3) 55%, rgba(41, 182, 246, 0.3) 66%, rgba(0,0,0,0) 66%);
}
.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto 20px auto; /* gives some space between testimonials and sub-heading */
}
.testimonial {
    flex-basis: 31%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(1, 115, 138, 0.5);
    padding: 15px;
    box-sizing: border-box;
}
.customer-picture {
    display: flex;
    width: 30%;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(1, 115, 138, 0.5);
}
.customer-name {
    text-align: center;
    font-weight: 400;
    margin: 8px auto 5px auto;
    font-size: 0.9rem;
}
.testimonial-text {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 5px auto;
}
@media (max-width: 768px) {
    .testimonials {
        flex-direction: column;
    }
    .testimonial {
        width: 80%;
        margin: auto auto 20px auto;
    }
    .customer-picture {
        width: 18%;
        border-radius: 50%;
    }
}
@media (max-width: 500px) {
    .customer-picture {
        width: 25%;
    }
    .testimonial {
        width: 90%;
        flex-basis: 260px;
    }
}

#features-div, #testimonials-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}



// .feature_heading, .testimonial_heading {
//     font-size: 1.5rem;
//     font-weight: 600;
//     text-align: center;
//     margin: 10px auto;
// }

// .feature_content, .testimonial_content {
//     font-size: 1.3rem;
//     font-weight: 200;
// }

// .section_padding {
//     padding-top: 10px;
// }


#video {
    display: block;
    margin: 0px auto 10px auto;
    width: 40vw;
    height: 350px;
}

.container_form {
    max-width: 50vw;
    margin: 40px auto 40px auto;
    display: flex;
    height: 50px;
}

#email {
    flex-basis: 70%;
    margin-right: 8px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #15a3bf;
    background-color: rgba(21, 163, 191, 0.1);
    padding-left: 10px;
}
#email:focus {
    border: 2px solid #15a3bf;
}

#submit {
    font-family: roboto, sans-serif;
    flex-basis: 30%;
    border: none;
    outline: none;
    font-family: roboto;
    background-color: #01738a;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 200;
    border-radius: 2px;
}

#submit:focus {    
    background-color: #03333d;
}

/* Footer social */
#footer {
    background-color: rgba(1, 115, 138, 1);
    height: 83px;
    display: flex;
}
.footer-social {
    box-sizing: border-box;
    margin: auto;
    display: flex;
}
@media (max-width: 650px) {
    .social-icon--footer {
        margin: 0 5px;
       }
}

/* Footer social */

/* Start of media queries */

@media (max-width: 1000px) {
    .nav-link {
        padding: 0 8px;
    }
    .container {
        width: 80vw;
    }
    .feature_icon {
        height: 40px;
    }
    #header_content {
        max-width: 90vw;
    }
    .account_sub-menu_nav-link {
        padding: 7px;
    }
}

@media (max-width: 768px) {

    /* Nav-bar experiment */
    #company-section {
        flex-basis: auto;
    }
    .header {
        position: relative;
    }
    .hamburger-icon {
        display: flex;
        align-self: center;
        cursor: pointer;
        display: block;
        margin-right: 5px;
        display: block;
        z-index: 105;
    }
    .nav-bar {
        display: none;
        position: absolute;
        z-index: 99;
        top: 80px;
        left: 0;
        right: 0;
        padding: 10px;
        box-sizing: border-box;
        margin: auto 0;
        transition: all 0.5s;
        text-align: center;
        background-color: rgba(1, 115, 138, .85);
        animation: reveal-nav-bar 0.5s forwards ease-in-out;
    }
    .nav-bar--scrolled {
        top: 40px;
    }
    .nav-bar--show {
        display: flex;
        right: 0;
        opacity: 0;
        z-index: 99;
        animation: reveal-nav-bar 0.5s forwards linear;
    }
    #nav-bar {
        overflow: hidden;
    }
    @keyframes reveal-nav-bar {
        0% {opacity: 0; transform: scale(1);}
        100% {opacity: 1; transform: scale(1);}
    }

    .nav-link {
        flex-basis: 100%;
        z-index: 100;
        padding: 5px;
        box-sizing: border-box;
        border-top: 1px solid #fff;
    }
    .top-bar--active {
        transform: rotate(45deg);
    }
    .middle-bar--active {
        transform: scaleX(0.001) rotate(0deg);
    }
    .bottom-bar--active {
        transform: rotate(-45deg);
    }

    /* Nav-bar experiment */

    .faqs_content {
        width: 100%;
    }

    .header {
        height: 80px;
    }
    .header--scrolled {
        background-color: rgba(1, 115, 138, 1);
        height: 40px;
    } 
    #company-section {
        margin: 5px;
    }
    .logo-container {
        width: 65px;
        height: 65px;
    }
    .logo-container--scrolled {
        width: 30px;
        height: 30px;
    }
    #header_content {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-width: 100%;
    }
    #treks_content {
        grid-template-columns: 100%;
    }
    #features-div, #testimonials-div {
        margin-top: 20px;
        display: block;
    }
    #video {        
     width: 80vw;
    }
    .container_form {
        max-width: 100%;
        margin: 5px auto 10px auto;
        height: 50px;
    }
    .container {
        width: 90vw;
    }
    .section_heading {
        max-width: 100%;
    }
}

@media (max-width: 650px) {    
    #features_content {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 120px);
    }
}
