html {
    scroll-behavior: smooth;
}

body {
    font-family: roboto, sans-serif;
    background-color: #cacaca;
    color: #000;
    font-weight: 200;
    margin: 0;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 70px;
}

.header {
    background-color: rgba(1, 115, 138, 0.5);
}

.header_dark {
    background-color: rgba(1, 115, 138, 1);
}

#header_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.25rem;
    max-width: 60vw;
    height: 70px;
}

.container {
    max-width: 60vw;
    margin: 0px auto;
}

#image-container {
    background: repeating-linear-gradient(rgba(105, 105, 105, 0.5), rgba(255, 255, 255, 0.5), rgba(105, 105, 105, 0.5), rgba(255, 255, 255, 0.5));
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-45deg);
    margin: auto auto auto 0;
    width: 60px;
    height: 60px;
}

#image_background {
    background: repeating-linear-gradient(90deg,rgba(105, 105, 105, 0.5), rgba(255, 255, 255, 0.5), rgba(105, 105, 105, 0.5), rgba(255, 255, 255, 0.5));
}

#header-img {
    width: 100%;
    animation: rotate-logo 2s infinite linear;
}

@keyframes rotate-logo {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}

#nav-bar {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    color: #fff;
    margin: auto;
    text-decoration: none;    
}

.nav-link:focus {
    outline: 2px solid #15a3bf;
}

#picture-id {
    margin: 0;
    padding: 0;
    border: none;
}

#banner-img {
    border-bottom: 10px solid rgb(1, 115, 138);
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#features-div, #testimonials-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.feature, .testimonial {
    flex-basis: 30%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(1, 115, 138, 0.5);
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.feature_heading, .testimonial_heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;
}

.feature_content, .testimonial_content {
    font-size: 1.3rem;
    font-weight: 200;
}

.section_padding {
    padding-top: 70px;
}

.section_heading {
    margin: 20px 0px;
    padding: 15px 0px;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 400;
    max-width: 100%;
    background-color: rgba(1, 115, 138, 1);
    color: #fff;
}

#video {
    display: block;
    margin: 0px auto 10px auto;
    width: 40vw;
    height: 350px;
}

.container_form {
    max-width: 50vw;
    margin: 40px auto 40px auto;
    display: flex;
    height: 50px;
}

#email {
    flex-basis: 70%;
    margin-right: 8px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #15a3bf;
    background-color: rgba(21, 163, 191, 0.1);
    padding-left: 10px;
}
#email:focus {
    border: 2px solid #15a3bf;
}

#submit {
    font-family: roboto, sans-serif;
    flex-basis: 30%;
    border: none;
    outline: none;
    font-family: roboto;
    background-color: #01738a;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 200;
    border-radius: 2px;
}

#submit:focus {    
    background-color: #03333d;
}

@media (max-width: 1000px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    #features-div, #testimonials-div {
        margin-top: 20px;
        display: block;
    }
    #video {        
     width: 80vw;
    }
    .container_form {
        max-width: 100%;
        margin: 5px auto 10px auto;
        height: 50px;
    }
    .container {
        max-width: 90vw;
    }
    .section_heading {
        max-width: 100%;
        margin: 20px 0px;
    }
}
